{
  'printWidth': 120, # max character per line
  'tabWidth': 2, # number of spaces per "tab" indentation
  'useTabs': false, # indent lines with tabs instead of spaces
  'semi': false, # print semicolons at the ends of statements
  'singleQuote': true, # use single quotes instead of double quotes
  'trailingComma': 'all', # print trailing commas wherever possible when multi-line
  'bracketSpacing': true, # print spaces between brackets in object literal
  'arrowParens': 'always', # Omit parentheses when possible
  'proseWrap': 'always', # https://prettier.io/docs/en/options.html#prose-wrap
}
